<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Projects | achaljhawar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css'>
	<style type="text/css">
		body {
			padding: 50px;
			display: flex;
			flex-flow: wrap;
			font-family: "Ubuntu", sans-serif;
			background-color: #000;
		}

		body * {
			box-sizing: border-box;
		}

		.card-container {
			flex: 300px;
			margin: 30px;
		}

		.card-container .card {
			font-weight: bold;
			position: relative;
			width: 100%;
		}

		.card-container .card a {
			padding: 30px;
			width: 100%;
			height: 400px;
			border: 2px solid white;
			background: white;
			text-decoration: none;
			color: black;
			display: block;
			transition: 0.25s ease;
		}

		.card-container .card a:hover {
			transform: translate(-30px, -30px);
			border-color: #5bc0eb;
		}

		.card-container .card a:hover .card--display {
			display: none;
		}

		.card-container .card a:hover .card--hover {
			display: block;
		}

		.card-container .card a .card--display i {
			font-size: 60px;
			margin-top: 200px;
		}

		.card-container .card a .card--display h2 {
			margin: 20px 0 0;
		}

		.card-container .card a .card--hover {
			display: none;
		}

		.card-container .card a .card--hover h2 {
			margin: 20px 0;
		}

		.card-container .card a .card--hover p {
			font-weight: normal;
			line-height: 1.5;
		}

		.card-container .card a .card--hover p.link {
			margin: 20px 0 0;
			font-weight: bold;
			color: #5bc0eb;
		}

		.card-container .card .card--border {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			border: 2px dashed white;
			z-index: -1;
		}

		.card-container .card.card--dark a {
			color: white;
			background-color: black;
			border-color: white;
		}

		.card-container .card.card--dark a .card--hover .link {
			color: #fde74c;
		}
	</style>
</head>

<body>
	<div class="card-container">
		<div class="card"><a href="https://github.com/achaljhawar/Tyniurl/">
				<div class="card--display"><i class="material-icons">link</i>
        <h2>Tyniurl</h2>
      </div>
      <div class="card--hover">
        <h2>Tyniurl</h2>
        <p>This is a simple hassle free url shortner which also generates QR codes. It is made with node.js ,express and ejs. An over it is completely free to use and open-source check it out on GitHub.</p>
        <p class="link">Click to see project</p>
      </div></a>
    <div class="card--border"></div>
  </div>
</div>
<div class="card-container"> 
  <div class="card"><a href="https://github.com/halo-legion/gryffin">
      <div class="card--display"><i class="material-icons">search</i>
        <h2>Gryffin</h2>
      </div>
      <div class="card--hover">
        <h2>Gryffin</h2>
        <p>Gryffin is a specialised search engine meant to find you the best possible results from a variety of search engines including Bing, Google & Yahoo. Gryffin fetches results from these engines based on your query, filters them and finds the best of all to show to you. </p>
        <p class="link">Click to see project</p>
      </div></a>
    <div class="card--border"></div>
  </div>
</div>
<!-- partial -->
  
</body>
</html>